/* Inicio de Correcciones del Framework*/
.form-horizontal .control-group{
	margin-bottom:5px;	
}
.form-inline label{
	margin-right:5px;
	margin-left:5px;	
}
.form-search input, .form-inline input, .form-search textarea, .form-inline textarea, .form-search select, .form-inline select, .form-inline .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append{
	margin-bottom:5px;
	margin-left:5px;
}
*{
	outline:none;	
}
@media (max-width: 979px){
.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
	font-weight: normal;
color: #777777;
}
}
img.logo{
	width:50px;
	height:50px;
}
label.msg{
	display:inline-block;
	vertical-align:middle	
}
.table thead tr td,.table thead tr th,.table tr td,.table tr th{
	background-color:#FFF;	
}
.table thead.tableFloatingHeader,.table thead.tableFloatingHeader{
	/*box-shadow: #333 0px 0px 25px;*/
	border-bottom:#CCC 1px solid;
	box-shadow: 0px 10px 10px -5px #999;
}
/*Fin de las Correcciones del Framework*/
.nav li:link{
	background-color:#F00;	
}
.oculto{
	display:none;	
}
.submenu li a span{
	text-decoration:none;
	
	border-bottom:none;
}
.submenu,.submenu li{
	margin:0px 0px 0px 15px;
	
}
.submenu li{
	list-style:none;
	padding:3px;
	border-bottom:#CCC dotted 1px;
	transition:all color 5s;	
	background-color:#EFEFEF;
	margin:0px 0px 3px 0px;
	font-size:.8em;
}
.submenu li a{
	color:#333;
	display:block;
	transition:all color 5s;
	
}
.submenu li:hover{
	
	color: #666666;
	background-color:#CCC;
}
.submenu li:hover a{
	text-decoration:none;	
}
footer{
	color:#CCC;	
}
footer p a{
	color:#999;
}
.selecciona{
	background-color:#D6D6D6 !important;	
}

td.centrar,.centrar{
	text-align:center !important;	
}
td.der,.der{
	text-align:right !important;	
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:searchfield !important;}
/*Corregir el Texto*/
.resaltar{
	font-weight:bold;	
}
/*Fin de Corregir el Texto*/
/*Correción del Calendario*/
.box-content .ui-datepicker {
    width: 100% !important;
    padding: 0;
  }
.box-content  .ui-widget {
    font-size: 0.9em;
  }
.box-content  .ui-datepicker table {
    font-size: 0.7em;
  }
.box-content .ui-datepicker td a {
	text-align:center;	
}
.box-content .ui-widget-header{
	border:none 	
}
.ui-datepicker-calendar thead th{
	background-color:#FFF;	
}
/*Fin de Correción del Calendario*/
/*Cuadro de Mensajes*/
.cverde,.crojo,.cnaranja,.cnegro,.cazul{
	display:inline-block;
	width:3px;
	height:100%;
	margin-left:2px;	
}
.cverde{
	background-color: #5bb75b;
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.crojo{
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;	
}
.cnaranja{
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;	
}
.cnegro{
	background-color: #363636;
	background-image: -moz-linear-gradient(top, #444444, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
	background-image: -webkit-linear-gradient(top, #444444, #222222);
	background-image: -o-linear-gradient(top, #444444, #222222);
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;	
}
.cazul{
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;	
}
.reprobado{
	width:20px;	
	
}
.crojo.reprobado{
	color:#FFF !important;	
}
.nota{
	width:25px !important;
	margin-bottom:0px !important;	
}
.celeste{
	background-color:#E8F7FF !important;
}
.verde{
	background-color:#E8FFE9 !important;	
}
.amarillo{
	background-color:#FFFDF0 !important;	
}
tr:hover td.amarillo{
	background-color:#FFFCE1 !important;		
}
tr:hover td.celeste{
	background-color:#DEF7FE !important;	
}
/*Fin de Cuadro de mensajes*/
.alineadovertical{
	vertical-align:middle !important;	
}
.x2{
	font-size:2em !important;	
}
/*Inicio de la Tabla*/
.tabla{
	width:100%;
}
.tabla  td{
	padding:5px;
	vertical-align:middle;
}
/*Fin de la tabla*/
.completado td{
	color:#CCC;	
}