/* Inicio de Correcciones del Framework*/
.form-horizontal .control-group{
	margin-bottom:5px;	
}
.form-inline label{
	margin-right:5px;
	margin-left:5px;	
}
.form-search input, .form-inline input, .form-search textarea, .form-inline textarea, .form-search select, .form-inline select, .form-inline .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append{
	margin-bottom:5px;
	margin-left:5px;
}
*{
	outline:none;	
}
@media (max-width: 979px){
.nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
	font-weight: normal;
color: #777777;
}
}
img.logo{
	width:50px;
	height:50px;
}
label.msg{
	display:inline-block;
	vertical-align:middle	
}
/*Fin de las Correcciones del Framework*/
.nav li:link{
	background-color:#F00;	
}
.oculto{
	display:none;	
}
.submenu li a span{
	text-decoration:none;
	
	border-bottom:none;
}
.submenu,.submenu li{
	margin:0px 0px 0px 15px;
	
}
.submenu li{
	list-style:none;
	padding:3px;
	border-bottom:#CCC dotted 1px;
	transition:all color 5s;	
	background-color:#EFEFEF;
	margin:0px 0px 3px 0px;
	font-size:.8em;
}
.submenu li a{
	color:#333;
	display:block;
	transition:all color 5s;
	
}
.submenu li:hover{
	
	color: #666666;
	background-color:#CCC;
}
.submenu li:hover a{
	text-decoration:none;	
}
footer{
	color:#CCC;	
}
footer p a{
	color:#999;
}
.selecciona{
	background-color:#D6D6D6 !important;	
}

td.centrar,.centrar{
	text-align:center;	
}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:searchfield !important;}