.r-listado{
	background-color:#FFF;
	margin:0px;
	padding:0px;	
}
.r-listado li{
	background-color:#F2F2F2;
	margin:1px 1px 0px 1px;
	font-size:13px;
	list-style:none;
	border-bottom: 1px solid #ddd
}
.r-listado li a{
	padding:3px;
	cursor:pointer;
	display:block;
	text-decoration:none !important;
	color: #646464;
}
.r-listado li.cuadro{
	display:inline-block;
	margin:2px;
}
.r-listado li.cuadro a{
	display:inline-block;
	width:30px;
	text-align:center;
}
.r-listado li.cuadro a[data-rel=a1]{
	background-color:#D7F2D8;	
}
.r-listado li.cuadro a[data-rel=a2]{
	background-color:#FFC !important;	
}
.r-listado li.cuadro a[data-rel=a3]{
	background-color:#FFE0C1 !important;	
}
.r-listado li.cuadro a[data-rel=a4]{
		
	background-color:#CCEEFF !important;
}
.r-listado li a.r-seleccionado,.r-listado li a:hover{
	background-color: #3875d7;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );  
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.r-listado li a:hover{
	background-color: #404141;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5084d8', endColorstr='#2a62bc', GradientType=0 );  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #5084d8), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(top, #5084d8 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #5084d8 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #5084d8 20%, #2a62bc 90%);
  background-image: -ms-linear-gradient(top, #5084d8 20%, #2a62bc 90%);
  background-image: linear-gradient(top, #5084d8 20%, #2a62bc 90%);
  color: #fff;
}
.r-contenedor{
	height:auto;
	overflow:auto;	
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,.15);
	-moz-box-shadow   : 0 0px 5px rgba(0,0,0,.15);
	-o-box-shadow     : 0 0px 5px rgba(0,0,0,.15);
	box-shadow        : 0 0px 10px rgba(0,0,0,.15);
	margin-bottom:10px;
}/* CSS Document */

