body{
	background-color:white;	
}
.mensajes{
	margin-top:60px;
	background-color:#0072c6;
	color:#FFF;
	padding:20px;	
}
.mensajes h2{
	color:white;	
}
.mensajes li,.mensajes ul{
	color:white;
	
	text-shadow:none;
	margin:10px 0px 10px 10px;
	font-size:1.2em;
	line-height:1.5em;
	
}
.mensajes li.resaltar{
	font-weight:bold;
	letter-spacing:2pt;
}

.login{
	margin-top:60px;
	/*border:#bababa 1px solid;*/
}
.login h2,.login h4,.login img.logo{
	float:left;	
}
.login h2,.login h4{
	color:#0072c6;
	/*color:#b91f1f;*/
/*	padding:5px;*/
	margin:0px 10px;
	text-align:center;
}
.login h4{
	font-weight:normal;	
}
.login hr{
	color:#0072c6;
	border-color:#0072c6;
	clear:both;	
	margin:0px 0px 20px 0px;
}
.login label{
	color:#666666;
	display:block;
	font-size:1.5em;	
}
.login input.campos{
	display:block;
	padding:10px;
	width:80%;
	border:#bababa 1px solid;
}
.login input.campos:focus{
	border:#5c5c5c 1px solid;
	box-shadow:none;
}
.login input.enviar,.login input[type=submit]{
	background-color:#0072c6 !important;
	background-image:none;
	color: #fff;
	border:0px;
	font-size:1em;
	padding: 5px 20px 5px 20px;
	margin-bottom:15px;
}
div.pie hr{
	margin:30px 0px 3px 0px;	
}
div.pie{
	text-align:center;
	color:#bababa;	
}
div.login a{
	margin:5px;
	display:inline-block;
	color:#0072c6;
	text-decoration:none;	
}
div.login a.plomo{
	margin:5px;
	display:inline-block;
	color:#666666;
	text-decoration:none;	
}
div.login a:hover{
	color:#448abe;
}
.login hr.plomo,hr.plomo{
	border: 1px #999999 dotted;	
}
.login a.idioma:hover{
	text-decoration:underline;
}
.oculto{
	display:none;	
}
.recomendacion{
	color:#999;	
}