/* CSS Document */
body{
	background-image:url(../../images/tapacole.png);
	background-repeat:no-repeat;
	background-position:top;
}
#formLogin{
	background-color:#FFF;
	margin-top:45%;
	text-align:center;
	-webkit-box-shadow:1px 1px 1px rgb(0,0,0)
}
#formLogin label{
	color:#CCC;
	font-size:15pt;
	margin:20px;
}
#formLogin input[type=text],#formLogin input[type=password]{
	margin:10px;
	padding:10px;
	font-size:12pt;
	width:160px;
	border:#CCC 1px solid;
}
input.campos{
	margin:10px;
	padding:10px;
	font-size:12pt;
	width:160px;
	border:#CCC 1px solid;
}
#formLogin input[type=submit]{
	padding:10px;
	font-weight:bolder;
}